<div class="container">
  <div class="title">
    <p>Top Rated Movies</p>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
  <swiper
    [slidesPerView]="2.2"
    [spaceBetween]="15"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
  >
    <ng-template
      swiperSlide
      #deneme
    >
      <ion-card>
        <img
          src="https://picsum.photos/200/300"
          alt=""
        /> </ion-card></ng-template
    ><ng-template swiperSlide >
      <ion-card>
        <img
          src="https://picsum.photos/200/300"
          alt=""
        /> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img
          src="https://picsum.photos/200/300"
          alt=""
        /> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img
          src="https://picsum.photos/200/300"
          alt=""
        /> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img
          src="https://picsum.photos/200/300"
          alt=""
        /> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img
          src="https://picsum.photos/200/300"
          alt=""
        /> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img
          src="https://picsum.photos/200/300"
          alt=""
        /> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img
          src="https://picsum.photos/200/300"
          alt=""
        /> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" />
      </ion-card>
    </ng-template>
  </swiper>
</div>
