
<swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
  <ng-template swiperSlide>
    <img
      src="https://picsum.photos/200/300
    "
      alt=""
    /> </ng-template
  ><ng-template swiperSlide
    ><img
      src="https://picsum.photos/200/300
    "
      alt=""
    /> </ng-template
  ><ng-template swiperSlide
    ><img
      src="https://picsum.photos/200/300
    "
      alt=""
    /> </ng-template
  ><ng-template swiperSlide
    ><img
      src="https://picsum.photos/200/300"
      alt=""
    /> </ng-template
  ><ng-template swiperSlide
    ><img
      src="https://picsum.photos/200/300
    "
      alt=""
    /> </ng-template
  ><ng-template swiperSlide
    ><img
      src="https://picsum.photos/200/300
    "
      alt=""
    /> </ng-template
  ><ng-template swiperSlide
    ><img
      src="https://picsum.photos/200/300
    "
      alt=""
    /> </ng-template
  ><ng-template swiperSlide
    ><img
      src="https://picsum.photos/200/300
    "
      alt=""
    /> </ng-template
  ><ng-template swiperSlide
    ><img
      src="https://picsum.photos/200/300
    "
      alt=""
    />
  </ng-template>
</swiper>
