<div class="container">
  <div class="title">
    <p>Top 10 Movies</p>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
  <swiper
    [slidesPerView]="1.2"
    [spaceBetween]="15"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide #deneme>
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" />
        <span><i class="fa-solid fa-1"></i> </span> </ion-card></ng-template
    ><ng-template swiperSlide>
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" /><span
          ><i class="fa-solid fa-2"></i>
        </span> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" /><span
          ><i class="fa-solid fa-3"></i>
        </span> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" /><span
          ><i class="fa-solid fa-4"></i>
        </span> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" />
        <span><i class="fa-solid fa-5"></i> </span> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" />
        <span><i class="fa-solid fa-6"></i> </span> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" /><span
          ><i class="fa-solid fa-7"></i>
        </span> </ion-card
    ></ng-template>
    <ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" /><span
          ><i class="fa-solid fa-8"></i>
        </span> </ion-card
    ></ng-template>
    <ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" /><span
          ><i class="fa-solid fa-9"></i>
        </span> </ion-card></ng-template
    ><ng-template swiperSlide class="deneme">
      <ion-card>
        <img src="https://picsum.photos/200/300" alt="" />
        <span><i class="fa-solid fa-1"></i><i class="fa-solid fa-0"></i> </span>
      </ion-card>
    </ng-template>
  </swiper>
</div>
