@import "swiper/css";
@import "swiper/css/effect-cards";
.container {
  padding-left: 10px;
}
ion-card {
  width: max-content;
  height: max-content;
  margin-right: 40px !important;

  span {
    position: fixed;
    left: 0px;
    top: 30%;
    i {
      color: white;
      font-size: -webkit-xxx-large;
    }
  }
  img {
    width: 314px;
    height: 159px;
    object-fit: initial;
  }
}
ng-template {
  width: 100% !important;
  height: 100% !important;
}
.swiper {
  width: 100% !important;
  height: 100% !important;
}
swiper-slide {
  width: max-content !important;
}
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1.1px 4.2px 2.2px hsl(0deg 0% 0% / 47%);

  p {
    font-size: 18px;
    margin-left: 16px;
  }
  i {
    font-size: 18px;
    margin-left: 8px;
  }
}
#deneme {
  width: 100%;
  width: 100px !important;
}
.swiper-backface-hidden .swiper-slide {
  width: 100% !important;
}
.swiper-slide swiper-slide-active {
  width: 100px !important;
  height: 100px !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deneme {
  width: 100% !important;
  height: 100% !important;
}
