<div>
  <div class="imageDiv">
    <img
      src="https://www.arthipo.com/image/cache/catalog/poster/movie/1-758/pfilm227-mucize-kadin-film-posteri-movie-wonder-woman_4da2c1f7-1000x1000.jpg"
      alt=""
    />
    <div class="denemec">
      <div class="title">
        <img
          class="miniimg"
          src="https://www.arthipo.com/image/cache/catalog/poster/movie/1-758/pfilm227-mucize-kadin-film-posteri-movie-wonder-woman_4da2c1f7-1000x1000.jpg"
          alt=""
        />
        <div class="desclass">
          <span>Wonder Women</span>
        </div>
      </div>
      <i class="fa fa-play"></i>
    </div>
  </div>
</div>
<div class="movie-properties">
  <div class="columnDiv">
    <p class="key">Length</p>
    <span class="value">01.37</span>
  </div>
  <div class="columnDiv">
    <p class="key">Lang</p>
    <span class="value">Eng</span>
  </div>
  <div class="columnDiv">
    <p class="key">Rating</p>
    <span class="value">8.7</span>
  </div>
  <div class="columnDiv">
    <p class="key">Rewiev</p>
    <span class="value">45+</span>
  </div>
</div>
