<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>Add Movie</ion-item>
      <ion-item>Edit Movie</ion-item>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- <add-movie></add-movie> -->
      <explore-container name="name"></explore-container>
      <movie-container></movie-container>
      <movie-recommend-container></movie-recommend-container>
      <top-movies-container></top-movies-container>
      <div class="emptyContainer"></div>
      <div class="emptyContainer"></div>
      <div class="emptyContainer"></div>
    </ion-content>
  </div>

  <!-- <favori-container></favori-container> -->
  <!-- <movie-detail-container></movie-detail-container> -->
</ion-content>
