<div>
  <div class="card">
    <div class="card-head">
      <img src="https://picsum.photos/200/300" alt="" />
    </div>
    <div class="card-body">
      <p class="title">KILL BILL: VOL. 1</p>
      <div class="description">
        <span class="title">111 min &ensp;</span>
        <span>2003 </span>
        <span>Action</span>
      </div>
      <div class="favori-icon">
        <i class="fa-regular fa-heart"></i>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <img src="https://picsum.photos/320/170" alt="" />
    </div>
    <div class="card-body">
      <p class="title">KILL BILL: VOL. 1</p>
      <div class="description">
        <span class="title">111 min &ensp;</span>
        <span>2003 </span>
        <span>Action</span>
      </div>
      <div class="favori-icon">
        <i class="fa-regular fa-heart"></i>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-head">
      <img src="https://picsum.photos/200/300" alt="" />
    </div>
    <div class="card-body">
      <p class="title">KILL BILL: VOL. 1</p>
      <div class="description">
        <span class="title">111 min &ensp;</span>
        <span>2003 </span>
        <span>Action</span>
      </div>
      <div class="favori-icon">
        <i class="fa-regular fa-heart"></i>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-head">
      <img src="https://picsum.photos/200/300" alt="" />
    </div>
    <div class="card-body">
      <p class="title">KILL BILL: VOL. 1</p>
      <div class="description">
        <span class="title">111 min &ensp;</span>
        <span>2003 </span>
        <span>Action</span>
      </div>
      <div class="favori-icon">
        <i class="fa-regular fa-heart"></i>
      </div>
    </div>
  </div>

</div>
